<div id="layout" class="theme-cyan">
  <div id="wrapper">
    <app-sidebar></app-sidebar>

    <div id="main-content">
      <div class="container-fluid">
        <div class="row clearfix">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h6 class="card-title">List</h6>
                <ul class="header-dropdown">
                  <li>
                    <button
                      type="button"
                      class="btn btn-outline-secondary"
                      data-bs-toggle="modal"
                      data-bs-target="#AddUser"
                    >
                      Add User
                    </button>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <table id="app_user" class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Created Date</th>
                      <th>Role</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users | paginate: {itemsPerPage:5, currentPage:p}">
                      <td class="width45">
                        <img
                          src="assets/images/xs/avatar1.jpg"
                          class="rounded-circle width35"
                          alt=""
                        />
                      </td>
                      <td>
                        <h6>{{ user.name }} {{ user.firstName }}</h6>
                      </td>
                      <td>{{ user.email }}</td>
                      <td>24 Jun, 2015</td>
                      <td>{{ user.role }}</td>
                      <td class="text-center">
                        <button
                          class="btn btn-sm btn-info me-1"
                          (click)="viewUser(user.id)"
                        >
                          <i class="fa fa-eye"></i>
                        </button>
                        <button
                          class="btn btn-sm btn-danger"
                          (click)="deleteUser(user.id)"
                        >
                          <i class="fa fa-trash-o"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- Pagination controls -->
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Default Size -->
  <div
    class="modal fade"
    id="AddUser"
    tabindex="-1"
    aria-labelledby="AddUser"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="title" id="defaultModalLabel">Add User</h6>
        </div>
        <div class="modal-body">
          <div class="row g-2">
            <div class="col-md-4 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="First Name *"
              />
            </div>
            <div class="col-md-4 col-sm-12">
              <input type="text" class="form-control" placeholder="Last Name" />
            </div>
            <div class="col-md-4 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="Email ID *"
              />
            </div>
            <div class="col-md-4 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="Username *"
              />
            </div>
            <div class="col-md-4 col-sm-12">
              <input type="text" class="form-control" placeholder="Password" />
            </div>
            <div class="col-md-4 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="Confirm Password"
              />
            </div>
            <div class="col-md-4 col-sm-12">
              <input type="text" class="form-control" placeholder="Mobile No" />
            </div>
            <div class="col-md-4 col-sm-12">
              <select class="form-select" aria-label="Default select example">
                <option>Select Role Type</option>
                <option>Super Admin</option>
                <option>Admin</option>
                <option>Employee</option>
              </select>
            </div>
            <div class="col-md-4 col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="Employee ID *"
              />
            </div>
            <div class="col-12">
              <h6 class="mt-4">Module Permission</h6>
              <div class="table-responsive">
                <table class="table table-striped mb-0">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Read</th>
                      <th>Write</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Super Admin</td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                            checked
                          />
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                            checked
                          />
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                            checked
                          />
                          <span></span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>Admin</td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                            checked
                          />
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                            checked
                          />
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                          />
                          <span></span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>Employee</td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                            checked
                          />
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                          />
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                          />
                          <span></span>
                        </label>
                      </td>
                    </tr>
                    <tr>
                      <td>HR Admin</td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                            checked
                          />
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                            checked
                          />
                          <span></span>
                        </label>
                      </td>
                      <td>
                        <label class="fancy-checkbox">
                          <input
                            class="checkbox-tick"
                            type="checkbox"
                            name="checkbox"
                          />
                          <span></span>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Add</button>
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
