<app-sidebar></app-sidebar>
        <div id="main-content">
            <div class="container-fluid">
                <div class="row g-2 clearfix row-deck">
                    <div>
                        <div class="card top_counter">
                            <div class="list-group list-group-custom list-group-flush">
                                <div class="list-group-item d-flex align-items-center py-3">
                                    <div class="icon text-center me-3"><i class="fa fa-users"></i> </div>
                                    <div class="content">
                                        <div>Total Employees</div>
                                        <h5 class="mb-0">{{totalEmployees}}</h5>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center py-3 bg-success text-white">
                                    <div class="icon text-center me-3"><i class="fa fa-users"></i> </div>
                                    <div class="content">
                                        <div>Total activated accounts</div>
                                        <h5 class="mb-0">{{totalActivated}}</h5>
                                    </div>
                                </div>
                                <div class="list-group-item d-flex align-items-center py-3 bg-danger text-white">
                                    <div class="icon text-center me-3"><i class="fa fa-users"></i> </div>
                                    <div class="content">
                                        <div>Total desactivated accounts</div>
                                        <h5 class="mb-0">{{totalDesactivated}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>